<main>
  <h1>Sample Juno App</h1>

  <p>
    A sample app build with Angular and
    <a href="https://juno.build" rel="noopener noreferrer" target="_blank">
      Juno
    </a>
    .
  </p>

  <ng-container *ngIf="signedIn$ | async; else notSignedIn">
    <app-table />

    <button mat-raised-button color="primary" (click)="openModal()">
      Add an entry
    </button>

    <button mat-raised-button (click)="signOut()">Sign-out</button>
  </ng-container>

  <ng-template #notSignedIn>
    <button mat-raised-button color="primary" (click)="signIn()">
      Sign-in
    </button>
  </ng-template>
</main>
