<form (ngSubmit)="onSubmit()" [formGroup]="diaryForm">
  <mat-form-field appearance="fill">
    <mat-label>Your diary entry</mat-label>
    <textarea matInput rows="5" formControlName="entry"></textarea>
  </mat-form-field>

  <input type="file" (change)="onFileChanged($event)" [disabled]="diaryForm.disabled"/>

  <mat-toolbar-row>
    <button
      type="button"
      mat-raised-button
      [disabled]="diaryForm.disabled"
      (click)="close()"
    >
      Close
    </button>

    <button mat-raised-button color="primary" [disabled]="diaryForm.disabled">
      Submit
    </button>
  </mat-toolbar-row>
</form>
