mat-form-field {
  width: 100%;
  padding: 1rem;
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-toolbar-row {
  display: flex;
  gap: 1rem;
}

input {
  padding: 0 0 2rem;
}
