---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import LoremIpsum from "../components/LoremIpsum.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👋 Hello!</h1>
			<p>
				Welcome to this sample website build with <a href="https://juno.build" target="_blank" rel="noreferrer noopener">Juno</a> and <a href="https://astro.build/" target="_blank" rel="noreferrer noopener">Astro</a>.
			</p>

			<LoremIpsum />
		</main>
		<Footer />
	</body>
</html>
